*
  font-family: 'Montserrat', sans-serif

body
  overflow-x: hidden

a:not(.btn)
  text-decoration: underline
  color: darken(#f3ad2a, 30)
  &:hover
    color: darken(#f3ad2a, 35)

.bg-brand
  background-color: #f3ad2a

.btn-brand
  background-color: darken(#f3ad2a, 10)
  font-weight: bold

#header
  background-image: url('/header.png')
  background-size: contain
  background-position: center center
  background-repeat: no-repeat
  font-size: 1.25rem
  font-weight: bold
  width: 500px
  height: 450px
  padding: 280px 40px 0 20px
  text-align: center
